/.env
/.idea/drum-score.iml
/backend/.env
/backend/db.sqlite3
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
*__pycache__*
/backend/drum_score_backend.egg-info/
/backend/files/
/backend/sqllite/
/venv
db.sqlite3
.vscode/settings.json
